---
const { title, github, blogPost, videoLink, desc, url, badge, tags, img } =
  Astro.props;
---

<div class="rounded-lg">
  <div class="hero-content flex-col md:flex-row">
    <div class="grow w-full">
      <h1 class="text-lg font-medium text-neutral-700">
        {title}
        {badge && <div class="badge badge-secondary mx-2">{badge}</div>}
      </h1>
      <img src={img} width="450" class="my-4"/>
      <p
        class="py-1 font-normal text-neutral-600 "
      >
        {desc}
      </p>
      
      <div class="flex flex-row w-full max-w-sm justify-between py-3 border-b-2 border-neutral-100">
        {
            url && (
              <a
                href={url}
                target="_blank"
                class="group hover:text-orange-600 transition duration-200 ease-in-out flex flex-row items-center mr-4 text-sm"
              >
                <>
                <svg 
                xmlns="http://www.w3.org/2000/svg" 
                width="24" 
                height="24" 
                viewBox="0 0 256 256"
                style="fill: currentColor;transform: ;msFilter:;">
                <path 
                fill-rule="evenodd"
                  clip-rule="evenodd"
                  fill-rule="nonzero"
                d="M224,104a8,8,0,0,1-16,0V59.32l-66.33,66.34a8,8,0,0,1-11.32-11.32L196.68,48H152a8,8,0,0,1,0-16h64a8,8,0,0,1,8,8Zm-40,24a8,8,0,0,0-8,8v72H48V80h72a8,8,0,0,0,0-16H48A16,16,0,0,0,32,80V208a16,16,0,0,0,16,16H176a16,16,0,0,0,16-16V136A8,8,0,0,0,184,128Z"></path></svg>
                  <span class="ml-1 text-neutral-600 group-hover:text-orange-600 transition duration-200 ease-in-out">
                    site
                  </span>
                </>
              </a>
            )
          }
        <a
          href={github}
          target="_blank"
          class="group flex flex-row items-center mr-4 text-neutral-800 hover:text-orange-600 transition duration-200 ease-in-out text-sm"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"
            ></path>
          </svg><span class="ml-1 text-neutral-600 group-hover:text-orange-600 transition duration-200 ease-in-out">repo</span></a
        >
        {
          blogPost && (
            <a
              href={blogPost}
              target="_self"
              class="group flex flex-row items-center mr-4 hover:text-orange-600 text-neutral-800 transition duration-200 ease-in-out text-sm"
            >
              <>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  style="fill: currentColor;transform: ;msFilter:;"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="m17 17.75c0-.414-.336-.75-.75-.75h-13.5c-.414 0-.75.336-.75.75s.336.75.75.75h13.5c.414 0 .75-.336.75-.75zm5-4c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75zm-9-4c0-.414-.336-.75-.75-.75h-9.5c-.414 0-.75.336-.75.75s.336.75.75.75h9.5c.414 0 .75-.336.75-.75zm7-4c0-.414-.336-.75-.75-.75h-16.5c-.414 0-.75.336-.75.75s.336.75.75.75h16.5c.414 0 .75-.336.75-.75z"
                    fill-rule="nonzero"
                  />
                </svg>
                <span class="ml-1 text-neutral-600 group-hover:text-orange-600 transition duration-200 ease-in-out">post</span>
              </>
            </a>
          )
        }
        
        

        {
          videoLink && (
            <a
              href={videoLink}
              target="_self"
              class="group flex flex-row items-center mr-4 hover:text-orange-600 text-neutral-800 transition duration-200 ease-in-out text-sm"
            >
              <>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  style="fill: currentColor;transform: ;msFilter:;"
                  viewBox="0 0 256 256"
                >
                  <path d="M164.44,121.34l-48-32A8,8,0,0,0,104,96v64a8,8,0,0,0,12.44,6.66l48-32a8,8,0,0,0,0-13.32ZM120,145.05V111l25.58,17ZM234.33,69.52a24,24,0,0,0-14.49-16.4C185.56,39.88,131,40,128,40s-57.56-.12-91.84,13.12a24,24,0,0,0-14.49,16.4C19.08,79.5,16,97.74,16,128s3.08,48.5,5.67,58.48a24,24,0,0,0,14.49,16.41C69,215.56,120.4,216,127.34,216h1.32c6.94,0,58.37-.44,91.18-13.11a24,24,0,0,0,14.49-16.41c2.59-10,5.67-28.22,5.67-58.48S236.92,79.5,234.33,69.52Zm-15.49,113a8,8,0,0,1-4.77,5.49c-31.65,12.22-85.48,12-86,12H128c-.54,0-54.33.2-86-12a8,8,0,0,1-4.77-5.49C34.8,173.39,32,156.57,32,128s2.8-45.39,5.16-54.47A8,8,0,0,1,41.93,68c30.52-11.79,81.66-12,85.85-12h.27c.54,0,54.38-.18,86,12a8,8,0,0,1,4.77,5.49C221.2,82.61,224,99.43,224,128S221.2,173.39,218.84,182.47Z" />
                </svg>
                <span class="ml-1 text-neutral-600 group-hover:text-orange-600 transition duration-200 ease-in-out">demo</span>
              </>
            </a>
          )
        }
      </div>
      
      <!-- <div class="card-actions justify-end">
        {
          tags &&
            tags.map((tag) => <div class="badge badge-outline">{tag}</div>)
        }
      </div> -->
    </div>
  </div>
</div>
